/* HEADER
------------------------- */

.header	{
	margin: 50px;
}

.page-title {
	text-align: center;
	margin: 0;
}

.main-nav {
	font-family: "Source Sans Pro";
	text-transform: uppercase;
	text-align: center;
}

.main-nav li {
	display: inline;
	margin: 0 5px;
}

.main-nav a {
	text-decoration: none;
}

/* POST
------------------------ */

.post p {
	font-size: 2.1rem;
}

.post p code {
	font-size: 70%;
}

.post .return-link {
	font-family: "Source Sans Pro";
	font-size: 80%;
	text-transform: uppercase;
}

.post .return-link a {
	text-decoration: none;
}

.post-title {
	margin-bottom: 8rem;
}

.post-title h2 {
	margin: 0;
	padding: 0;
}

.post-title .info {
	font-family: "Source Sans Pro";
	color: #8A8A8A;
}