/* HEADER
------------------------- */

.header	{
	margin: 5rem;
}

.page-title {
	text-align: center;
	margin: 0;
}

.main-nav {
	font-family: "Source Sans Pro", sans;
	text-transform: uppercase;
	text-align: center;
}

.main-nav li {
	display: inline;
	margin: 0 5px;
}

.main-nav a {
	text-decoration: none;
}

.page-subtitle {
	text-align: center;
}

/* POST
------------------------ */

.post {
	text-align: justify;
}

.post p {
	font-size: 1.8rem;
	line-height: 3.4rem;
}

.post p code {
	font-size: 80%;
}

.post .return-link {
	font-family: "Source Sans Pro", sans;
	font-size: 90%;
	text-transform: uppercase;
}

.post .return-link a {
	text-decoration: none;
}

.post-title {
	margin-bottom: 8rem;
	text-align: center;
}

.post-title h2 {
	margin: 0;
	padding: 0;
}

code {
	font-family: "Inconsolata", monospace;
}

/* FOOTER
------------------------ */

footer {
	font-family: "Source Sans Pro", sans;
	text-align: center;
	margin: 4rem;
}

/* ADMIN BAR
------------------------ */
.admin-bar {
	font-family: "Source Sans Pro", sans;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding-top: 1rem;
}

.admin-bar li {
	display: inline;
	margin: 0 0.5rem;
}

.admin-bar a {
	text-decoration: none;
}

/* POST LIST
------------------------ */

.post-summary {
	padding: 5rem 0;
	text-align: center;
}

.post-summary a {
	text-decoration: none;
}

.post-summary h3 {
	margin: 0;
	padding: ;
}

.post-summary .post-title {
	margin-bottom: 2rem;
}

.info {
	font-family: "Source Sans Pro", sans;
	font-size: 90%;
	color: #8A8A8A;
	text-transform: uppercase;
}

.post-list > :not(:last-child) {
	border-bottom: 1px solid #e1e1e1;
}

/* ADMIN
------------------------ */

.login-form {
	font-family: "Source Sans Pro", sans;
	text-align: center;
}

.login-form input:not([type=button]):not([type=reset]):not([type=submit]) {
	width: 100%;
}

.post-form {
	font-family: "Source Sans Pro", sans;
	text-align: center;
}

.post-form input:not([type=button]):not([type=reset]):not([type=submit]), textarea {
	width: 100%;
	font-family: 'Inconsolata', monospace;
}

.post-form #body{
	min-height: 50rem;
}